<nb-auth-block>
  <h2 class="title">Логін</h2>
  <form (ngSubmit)="login()" #form="ngForm" autocomplete="nope">
    <div *ngIf="showMessages.error && errors && errors.length > 0 && !submitted"
         class="alert alert-danger" role="alert">
      <div><strong>Ой горе!</strong></div>
      <div *ngFor="let error of errors">{{ error }}</div>
    </div>
    <div *ngIf="showMessages.success && messages && messages.length > 0 && !submitted"
         class="alert alert-success" role="alert">
      <div><strong>Урааа!</strong></div>
      <div *ngFor="let message of messages">{{ message }}</div>
    </div>
    <div class="form-group">
      <label for="input-email" class="sr-only">Адреса email</label>
      <input name="email" [(ngModel)]="user.email" id="input-email" pattern=".+@.+\..+"
             class="form-control" placeholder="Адреса email" #email="ngModel"
             [class.form-control-danger]="email.invalid && email.dirty" autofocus
             [required]="getConfigValue('forms.validation.email.required')">
      <small class="form-text error" *ngIf="email.invalid && email.dirty && email.errors?.required">
        Потрібен email!
      </small>
      <small class="form-text error"
             *ngIf="email.invalid && email.dirty && email.errors?.pattern">
        Адресу потрібно ввести у правильному форматі!
      </small>
    </div>
    <div class="form-group">
      <label for="input-password" class="sr-only">Пароль</label>
      <input name="password" [(ngModel)]="user.password" type="password" id="input-password"
             class="form-control" placeholder="Пароль" #password="ngModel"
             [class.form-control-danger]="password.invalid && password.dirty"
             [required]="getConfigValue('forms.validation.password.required')"
             [minlength]="getConfigValue('forms.validation.password.minLength')"
             [maxlength]="getConfigValue('forms.validation.password.maxLength')">
      <small class="form-text error" *ngIf="password.invalid && password.dirty && password.errors?.required">
        Потрібен пароль!
      </small>
      <small
        class="form-text error"
        *ngIf="password.invalid && password.dirty && (password.errors?.minlength || password.errors?.maxlength)">
        Пароль потребує
        від {{ getConfigValue('forms.validation.password.minLength') }}
        до {{ getConfigValue('forms.validation.password.maxLength') }}
        символів
      </small>
    </div>
    <div class="form-group accept-group col-sm-12">
      <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe">Запам'ятати мене</nb-checkbox>
      <a class="forgot-password" routerLink="../request-password">Забули пароль?</a>
    </div>
    <button [disabled]="submitted || !form.valid" class="btn btn-block btn-hero-success"
            [class.btn-pulse]="submitted">
      Зайти
    </button>
  </form>
</nb-auth-block>
