<nb-card>
  <nb-card-header>
    Профайл
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-lg-12">
        <nb-card>
          <nb-card-header>
            Головна інформація
          </nb-card-header>
          <nb-card-body>
            <div class="row">

              <div class="col-lg-2">
                <h5 class="grid-h">Аватар</h5>
                <img class="thumbnail inline"
                     [src]="user.photo">
              </div>

              <div class="col-lg-4">
                <h5 class="grid-h">Ім'я</h5>
                <div class="form-group">
                  <input type="text" placeholder="Ім'я українською" class="form-control" disabled
                         value="Ольшевська Ольга Володимирівна"/>
                </div>
                <div class="form-group">
                  <input type="text" placeholder="Ім'я англійською" class="form-control" disabled
                         value="Olshevska Olga"/>
                </div>
                <div class="form-group">
                  <input type="text" placeholder="Ім'я російською" class="form-control" disabled
                         value="Ольшевская Ольга Владимировна"/>
                </div>
              </div>

              <div class="col-lg-6">
                <h5 class="grid-h">Про мене</h5>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label" for="degree">Наукова ступінь</label>
                  <div class="col-sm-9">
                    <input class="form-control input-group input-group-sm"
                           id="degree"
                           placeholder="Наукова ступінь"
                           type="text"
                           disabled
                           value="канд.тех.наук"/>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label" for="academicTitle">Вчене звання</label>
                  <div class="col-sm-9">
                    <input class="form-control input-group input-group-sm"
                           id="academicTitle"
                           placeholder="Вчене звання"
                           type="text"
                           disabled
                           value="-"/>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label" for="birth">Дата народження</label>
                  <div class="col-sm-9">
                    <input class="form-control"
                           id="birth"
                           placeholder="Дата народження"
                           type="text"
                           disabled
                           value="13/04/1994"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 offset-lg-2">
                <div class="form-group">
                  <label for="cathedras">Кафедры</label>
                  <select id="cathedras" disabled class="form-control" multiple="">
                    <option>АТПІРТС: старший викладач</option>
                    <option>АТПІРТС: старший викладач</option>
                    <option>АТПІРТС: старший викладач</option>
                    <option>АТПІРТС: старший викладач</option>
                    <option>АТПІРТС: старший викладач</option>
                  </select>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <nb-card>
          <nb-card-header>
            Індекс Гірша
          </nb-card-header>
          <nb-card-body>
            <s2m-profile-bar-horizontal></s2m-profile-bar-horizontal>
          </nb-card-body>
        </nb-card>
      </div>

      <div class="col-lg-6">
        <nb-card>
          <nb-card-header>
            Контактна інформація
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div title="milo@mail.ru" class="icon col-lg-4">
                <i class="ion-email"></i>
                <span class="icon-text">E-mail</span>
              </div>
              <div title="Researcher" class="icon col-lg-4">
                <img [src]="'assets/images/researcher.png'"/>
                <a href="http://www.researcherid.com/" class="icon-text">Researcher</a>
              </div>
              <div title="Orcid" class="icon col-lg-4">
                <img [src]="'assets/images/orcid-logo.png'"/>
                <a href="http://orcid.org/" class="icon-text">Orcid</a>
              </div>
            </div>
            <div class="row">
              <div title="LinkedIn" class="icon col-lg-4">
                <i class="ion ion-social-linkedin"></i>
                <a href="http://linkedin.com" class="icon-text">LinkedIn</a>
              </div>
              <div title="Scopus" class="icon col-lg-4">
                <img [src]="'assets/images/scopus.png'"/>
                <a href="http://www.researcherid.com/" class="icon-text">Scopus</a>
              </div>
              <div title="Google Scholar" class="icon col-lg-4">
                <img [src]="'assets/images/google-scholar.png'"/>
                <a href="https://scholar.google.com.ua/" class="icon-text">Google Scholar</a>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>
            Зміна пароля
          </nb-card-header>
          <nb-card-body>
            <div class="form-group row">
              <div class="col-lg-6">
                <input class="form-control" placeholder="Новый пароль" type="password">
              </div>
              <div class="col-lg-6">
                <input class="form-control" placeholder="Підтвердити пароль" type="password">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-lg-3">
                <button class="btn btn-success btn-sm">Змінити</button>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </nb-card-body>
</nb-card>
