<div class="modal-header">
  <span>Новий користувач</span>
  <button class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <label>Головна інформація</label>
  <div class="row">
    <div class="col-lg-6 form-group input-group-sm">
      <input class="form-control" placeholder="Логін" type="text">
    </div>
    <div class="col-lg-6 form-group input-group-sm">
      <input class="form-control" placeholder="Повне ім'я(укр)" type="text">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 form-group input-group-sm">
      <input class="form-control" placeholder="Повне ім'я(анг)" type="text">
    </div>
    <div class="col-lg-6 form-group input-group-sm">
      <input class="form-control" placeholder="Повне ім'я(рос)" type="text">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 form-group input-group-sm">
      <input class="form-control" placeholder="Поштова скринька" type="email">
    </div>
    <div class="col-lg-6 form-group input-group-sm">
      <input class="form-control" placeholder="Дата народження" type="text">
    </div>
  </div>
  <label>Пароль</label>
  <div class="row">
    <div class="col-lg-6 form-group input-group-sm">
      <input class="form-control" placeholder="Пароль" type="password">
    </div>
    <div class="col-lg-6 form-group input-group-sm">
      <input class="form-control" placeholder="Підтвердження пароля" type="password">
    </div>
  </div>
  <label>Індекс Гірша</label>
  <div class="row">
    <div class="col-lg-6 form-group input-group-sm">
      <input class="form-control" placeholder="Індекс Гірша (Google Scholar)" type="text">
    </div>
    <div class="col-lg-6 form-group input-group-sm">
      <input class="form-control" placeholder="Індекс Гірша (Scopus)" type="text">
    </div>
  </div>
  <div class="row luft">
    <div class="col-lg-4">
      <label for="scienceDegree">Наукова ступінь</label>
      <select id="scienceDegree" class="form-control form-control-sm mini-select">
        <option>-</option>
        <option>канд.тех.наук</option>
      </select>
    </div>
    <div class="col-lg-4">
      <label for="scienceTitle">Вчене звання</label>
      <select id="scienceTitle" class="form-control form-control-sm mini-select">
        <option>-</option>
        <option>доцент</option>
      </select>
    </div>
    <div class="col-lg-4">
      <label for="role">Право доступу</label>
      <select id="role" class="form-control form-control-sm mini-select">
        <option>Admin</option>
        <option>User</option>
      </select>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-md btn-success" (click)="confirm()">Зберегти</button>
  <button class="btn btn-md btn-danger" (click)="close()">Відмінити</button>
</div>
