<div class="modal-header">
  <span>{{event.data ? 'Модифікація існуючого користувача' : 'Новий користувач'}}</span>
  <button class="close"
          aria-label="Close"
          (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="modifyForm"
      (ngSubmit)="confirm()">
  <div class="modal-body">
    <label>Головна інформація</label>
    <div class="row">
      <div class="col-lg-6 form-group input-group-sm">
        <label>Логін</label>
        <input class="form-control"
               formControlName="login"
               type="text"
               [attr.maxlength]="15"
               [class.form-control-danger]="submitted && !modifyForm.controls['login'].valid">
        <small class="form-text error"
               *ngIf="submitted && modifyForm.controls['login'].hasError('required')">
          Потрібен логін
        </small>
        <small class="form-text error"
               *ngIf="submitted && modifyForm.controls['login'].hasError('pattern')">
          Неправильний формат
        </small>
      </div>
      <div class="col-lg-6 form-group input-group-sm">
        <label>Прізвище ім`я по батькові(укр)</label>
        <input class="form-control"
               formControlName="fioUkr"
               type="text"
               [attr.maxlength]="50"
               [class.form-control-danger]="submitted && !modifyForm.controls['fioUkr'].valid">
        <small class="form-text error"
               *ngIf="submitted && modifyForm.controls['fioUkr'].hasError('required')">
          Потрібне поле
        </small>
        <small class="form-text error"
               *ngIf="submitted && modifyForm.controls['fioUkr'].hasError('pattern')">
          Неправильний формат
        </small>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 form-group input-group-sm">
        <label>Прізвище ім`я по батькові(анг)</label>
        <input class="form-control"
               formControlName="fioEng"
               type="text"
               [attr.maxlength]="50"
               [class.form-control-danger]="submitted && !modifyForm.controls['fioEng'].valid">
        <small class="form-text error"
               *ngIf="submitted && modifyForm.controls['fioEng'].hasError('required')">
          Потрібне поле
        </small>
        <small class="form-text error"
               *ngIf="submitted && modifyForm.controls['fioEng'].hasError('pattern')">
          Неправильний формат
        </small>
      </div>
      <div class="col-lg-6 form-group input-group-sm">
        <label>Прізвище ім`я по батькові(рос)</label>
        <input class="form-control"
               formControlName="fioRu"
               type="text"
               [attr.maxlength]="50"
               [class.form-control-danger]="submitted && !modifyForm.controls['fioRu'].valid">
        <small class="form-text error"
               *ngIf="submitted && modifyForm.controls['fioRu'].hasError('required')">
          Потрібне поле
        </small>
        <small class="form-text error"
               *ngIf="submitted && modifyForm.controls['fioRu'].hasError('pattern')">
          Неправильний формат
        </small>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 form-group input-group-sm">
        <label>Email</label>
        <input class="form-control"
               formControlName="email"
               [attr.maxlength]="50"
               [class.form-control-danger]="submitted && !modifyForm.controls['email'].valid"
               email>
        <small class="form-text error"
               *ngIf="submitted && modifyForm.controls['email'].hasError('email')">
          Введіть електронну пошту у правильному форматі
        </small>
      </div>
      <div class="col-lg-6 form-group input-group-sm">
        <label>Дата народження</label>
        <input class="form-control"
               formControlName="birth"
               type="text"
               placeholder="dd/mm/yyyy"
               [class.form-control-danger]="submitted && !modifyForm.controls['birth'].valid"
               [textMask]="{mask: dateMask, keepCharPositions: true}">
        <small class="form-text error"
               *ngIf="submitted && modifyForm.controls['birth'].hasError('pattern')">
          Введіть коректну дату
        </small>
      </div>
    </div>
    <div class="row" *ngIf="!event.data">
      <div class="col-lg-6 form-group input-group-sm">
        <label>Пароль</label>
        <input class="form-control"
               formControlName="password"
               type="password"
               [attr.maxlength]="50"
               [class.form-control-danger]="submitted && !modifyForm.controls['password'].valid">
        <small class="form-text error"
               *ngIf="submitted && modifyForm.controls['password'].hasError('required')">
          Потрібне поле
        </small>
        <small class="form-text error"
               *ngIf="submitted && modifyForm.controls['password'].hasError('min')">
          Введіть мінімум 6 символів
        </small>
      </div>
      <div class="col-lg-6 form-group input-group-sm">
        <label>Підтвердження пароля</label>
        <input class="form-control"
               formControlName="confirmPassword"
               [attr.maxlength]="50"
               type="password"
               [class.form-control-danger]="submitted && !modifyForm.controls['confirmPassword'].valid">
        <small class="form-text error"
               *ngIf="submitted && modifyForm.controls['confirmPassword'].hasError('required')">
          Потрібне поле
        </small>
        <small class="form-text error"
               *ngIf="submitted && modifyForm.controls['confirmPassword'].hasError('confirmPassword')">
          Пароль не співпадає
        </small>
      </div>
    </div>
    <div class="row luft">
      <div class="col-lg-4">
        <label for="scienceDegree">Наукова ступінь</label>
        <select id="scienceDegree"
                [formControl]="modifyForm.controls['scienceDegree']"
                class="form-control form-control-sm mini-select">
          <option *ngFor="let scienceDegree of getScienceDegrees()" [value]="scienceDegree">
            {{scienceDegree}}
          </option>
        </select>
      </div>
      <div class="col-lg-4">
        <label for="scienceTitle">Вчене звання</label>
        <select id="scienceTitle"
                [formControl]="modifyForm.controls['scienceTitle']"
                class="form-control form-control-sm mini-select">
          <option *ngFor="let scienceTitle of getScienceTitles()" [value]="scienceTitle">
            {{scienceTitle}}
          </option>
        </select>
      </div>
      <div class="col-lg-4">
        <label for="role">Право доступу</label>
        <select id="role"
                [formControl]="modifyForm.controls['role']"
                class="form-control form-control-sm mini-select">
          <option *ngFor="let role of getRoles()" [value]="role.value">
            {{role.name}}
          </option>
        </select>
      </div>
    </div>
    <label>Індекс Гірша</label>
    <div formArrayName="hirshCollection">
      <div *ngFor="let pos of modifyForm.get('hirshCollection')['controls']; let i=index" [formGroupName]="i">
        <div class="row">
          <div class="col-2 form-group input-group-sm">
            <label *ngIf="i === 0">Scopus</label>
            <input class="form-control"
                   formControlName="indexScopus"
                   type="number" step="1"
                   [class.form-control-danger]="submitted && !pos.controls['indexScopus'].valid">
          </div>
          <div class="col-2 form-group input-group-sm">
            <label *ngIf="i === 0">Scholar</label>
            <input class="form-control"
                   formControlName="indexScholar"
                   type="number" step="1"
                   [class.form-control-danger]="submitted && !pos.controls['indexScholar'].valid">
          </div>
          <div class="col-3 form-group input-group-sm">
            <label *ngIf="i === 0">Дата</label>
            <input class="form-control"
                   formControlName="indexDate"
                   type="text"
                   placeholder="dd/mm/yyyy"
                   [class.form-control-danger]="submitted && !pos.controls['indexDate'].valid"
                   [textMask]="{mask: dateMask, keepCharPositions: true}">
          </div>
          <div class="col-3">
            <div class="row">
              <div class="col-6 form-group input-group-sm">
                <label *ngIf="i === 0">цит.</label>
                <input class="form-control"
                       formControlName="citationCount"
                       type="number" step="1"
                       [class.form-control-danger]="submitted && !pos.controls['citationCount'].valid">
              </div>
              <div class="col-6 form-group input-group-sm">
                <label *ngIf="i === 0">док.</label>
                <input class="form-control"
                       formControlName="docCount"
                       type="number" step="1"
                       [class.form-control-danger]="submitted && !pos.controls['docCount'].valid">
              </div>
            </div>
          </div>
          <div class="col-2 form-group">
            <div [class.modify-pos-button]="i === 0">
              <button *ngIf="i === 0; else minusButton"
                      class="btn btn-success btn-tn"
                      type="button"
                      (click)="addNewPosition('hirshCollection')">
                <i class="ion-plus-round"></i>
              </button>
              <ng-template #minusButton>
                <button class="btn btn-danger btn-tn"
                        type="button"
                        (click)="deletePosition('hirshCollection',i)">
                  <i class="ion-minus-round"></i>
                </button>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div formArrayName="WoSCollection">
      <div *ngFor="let pos of modifyForm.get('WoSCollection')['controls']; let i=index" [formGroupName]="i">
        <div class="row">
          <div class="col-4 form-group input-group-sm">
            <label *ngIf="i === 0">Web Of Science</label>
            <input class="form-control"
                   formControlName="indexWoS"
                   type="number" step="1"
                   [class.form-control-danger]="submitted && !pos.controls['indexWoS'].valid">
          </div>
          <div class="col-3 form-group input-group-sm">
            <label *ngIf="i === 0">Дата</label>
            <input class="form-control"
                   formControlName="indexWoSDate"
                   type="text"
                   placeholder="dd/mm/yyyy"
                   [class.form-control-danger]="submitted && !pos.controls['indexWoSDate'].valid"
                   [textMask]="{mask: dateMask, keepCharPositions: true}">
          </div>
          <div class="col-3">
            <div class="row">
              <div class="col-6 form-group input-group-sm">
                <label *ngIf="i === 0">цит.</label>
                <input class="form-control"
                       formControlName="citationWoSCount"
                       type="number" step="1"
                       [class.form-control-danger]="submitted && !pos.controls['citationWoSCount'].valid">
              </div>
              <div class="col-6 form-group input-group-sm">
                <label *ngIf="i === 0">док.</label>
                <input class="form-control"
                       formControlName="docWoSCount"
                       type="number" step="1"
                       [class.form-control-danger]="submitted && !pos.controls['docWoSCount'].valid">
              </div>
            </div>
          </div>
          <div class="col-2 form-group">
            <div [class.modify-pos-button]="i === 0">
              <button *ngIf="i === 0; else minusButton"
                      class="btn btn-success btn-tn"
                      type="button"
                      (click)="addNewPosition('hirshCollection')">
                <i class="ion-plus-round"></i>
              </button>
              <ng-template #minusButton>
                <button class="btn btn-danger btn-tn"
                        type="button"
                        (click)="deletePosition('hirshCollection',i)">
                  <i class="ion-minus-round"></i>
                </button>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div formArrayName="cathedras">
      <div *ngFor="let pos of modifyForm.get('cathedras')['controls']; let i=index" [formGroupName]="i">
        <div class="row">
          <div class="col-lg-4">
            <label *ngIf="i === 0">Кафедра</label>
            <select formControlName="name"
                    class="form-control form-control-sm mini-select">
              <option *ngFor="let cathedra of getCathedras()" [value]="cathedra">
                {{cathedra}}
              </option>
            </select>
          </div>
          <div class="col-lg-4 form-group input-group-sm">
            <label *ngIf="i === 0">Посада</label>
            <input formControlName="post"
                   class="form-control"
                   placeholder="Посада"
                   type="text"
                   [attr.maxlength]="30"
                   [class.form-control-danger]="submitted && !pos.controls['post'].valid">
          </div>
          <div class="col-lg-2 form-group">
            <label *ngIf="i === 0">Ключова</label>
            <label class="custom-control custom-radio">
              <input type="radio"
                     [formControl]="modifyForm.controls['keyPosition']"
                     [value]="i"
                     [checked]="i === modifyForm.controls['keyPosition'].value"
                     class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description"></span>
            </label>
          </div>
          <div class="col-lg-2 form-group">
            <div [class.modify-pos-button]="i === 0">
              <button *ngIf="i === 0; else buttonMinus"
                      class="btn btn-success btn-tn"
                      type="button"
                      (click)="addNewPosition('cathedras')">
                <i class="ion-plus-round"></i>
              </button>
              <ng-template #buttonMinus>
                <button class="btn btn-danger btn-tn"
                        type="button"
                        (click)="deletePosition('cathedras',i)">
                  <i class="ion-minus-round"></i>
                </button>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-hero-success"
            [class.btn-pulse]="loading"
            [disabled]="loading || modifyForm.pristine"
            type="submit">
      Зберегти
    </button>
    <button class="btn btn-sm btn-hero-danger"
            [disabled]="loading"
            (click)="close()">
      Відмінити
    </button>
  </div>
</form>
