<nb-card>
  <nb-card-header>
    Співробітники
  </nb-card-header>
  <nb-card-body>
    <div class="row luft">
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon success">
            <i class="ion-search"></i>
          </span>
          <input #search
                 class="form-control"
                 (keyup)="onSearch(search.value)"
                 [attr.maxlength]="75"
                 type="text"
                 placeholder="Введіть параметри пошуку...">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ng2-smart-table [settings]="settings"
                         [source]="source"
                         (create)="onAddConfirm($event)"
                         (edit)="onEditConfirm($event)"
                         (delete)="onDeleteConfirm($event)"
                         (userRowSelect)="goToProfile($event)">
        </ng2-smart-table>
      </div>
    </div>
  </nb-card-body>
</nb-card>
