<nb-card xmlns="http://www.w3.org/1999/html">
  <nb-card-header>
    Публікації
  </nb-card-header>
  <nb-card-body>
    <!--<div class="row luft">-->
      <!--<div class="col-lg-6">-->
        <!--<div class="input-group">-->
          <!--<input #search class="form-control" placeholder="Пошук..." type="text">-->
          <!--<span class="input-group-btn">-->
              <!--<button class="btn btn-success" (click)="onSearch(search.value)">-->
                <!--Пошук-->
              <!--</button>-->
          <!--</span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <div class="row">
      <div class="col-lg-12">
        <ng2-smart-table [settings]="settings" [source]="source" (create)="create($event)" (edit)="edit($event)" (delete)="delete($event)"></ng2-smart-table>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<!--insert modal-->
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" name="addModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Добавити нову публiкацiю</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form>

          <div class = "form-group">
            <label for = "type">Science Unit Type:</label>
            <select class = "form-control" id="type" name="type" [(ngModel)]="model.unitType" (change)="onTypeChange()">
              <option *ngFor="let type of types" [ngValue]="type">{{type}}</option>
            </select>
          </div>

          <!--Common fields for all ScienceUnits-->
          <div *ngIf="model.unitType != null">

            <div class = "form-group input-group-sm">
              <label for = "users">Bind to Users</label>
              <ng-select type = "text" id = "users" name = "users"
                [options]="options"
                [multiple]="true"
                [(ngModel)]="model.users">
              </ng-select>
            </div>

            <div class = "form-group input-group-sm">
              <label for = "name">Name</label>
              <input type = "text" class = "form-control" id = "name"
                     [(ngModel)] = "model.name" name = "name" #name="ngModel" required>
            </div>
            <small *ngIf="name.errors && (name.dirty || name.touched)" class="form-text error">
              <p>Name field is required!</p>
            </small>

            <div class = "form-group input-group-sm">
              <label for = "name">Title</label>
              <input type = "text" class = "form-control" id = "title"
                     [(ngModel)] = "model.title" name = "title">
            </div>

            <div class = "form-group input-group-sm">
              <label for = "year">Year</label>
              <input type = "text" class = "form-control input-sm" id = "year"
                     [(ngModel)] = "model.year" name = "year">
            </div>

            <div class = "form-group input-group-sm">
              <label for = "year">Url</label>
              <input type = "text" class = "form-control input-sm" id = "Url"
                     [(ngModel)] = "model.url" name = "Url">
            </div>

            <div class = "form-group input-group-sm">
              <label for = "author">Author</label>
              <input type = "text" class = "form-control input-sm" id = "author"
                     [(ngModel)] = "model.author" name = "author">
            </div>
          </div>

          <!--Present on Chapter and Conference-->
          <div class = "form-group input-group-sm" *ngIf="isBookTitleShouldBePresent()">
            <label for = "bookTitle">Book Title</label>
            <input type = "text" class = "form-control input-sm" id = "bookTitle"
                   [(ngModel)] = "model.bookTitle" name = "bookTitle">
          </div>

          <!--Journal and Other-->
          <div class = "form-group input-group-sm" *ngIf="isJournalShouldBePresent()">
            <label for = "journal">Journal</label>
            <input type = "text" class = "form-control input-sm" id = "journal"
                   [(ngModel)] = "model.journal" name = "journal">
          </div>

          <!--Present on Book and Journal-->
          <div class = "form-group input-group-sm" *ngIf="isPublisherShouldBePresent()">
            <label for = "publisher">Publisher</label>
            <input type = "text" class = "form-control input-sm" id = "publisher"
                   [(ngModel)] = "model.publisher" name = "publisher">
          </div>

          <!--Chapter and Conference field-->
          <div class = "form-group input-group-sm" *ngIf="isOrganizationShouldBePresent()">
            <label for = "organization">Organization</label>
            <input type = "text" class = "form-control input-sm" id = "organization"
                   [(ngModel)] = "model.organization" name = "organization">
          </div>

          <!--Present on every type except Other, Patent and Thesis-->
          <div class = "form-group input-group-sm" *ngIf="isVolumeShouldBePresent()">
            <label for = "volume">Volume</label>
            <input type = "text" class = "form-control input-sm" id = "volume"
                   [(ngModel)] = "model.volume" name = "volume">
          </div>

          <!--Everywhere except Patent, Thesis, Book-->
          <div class = "form-group input-group-sm" *ngIf="isNumberShouldBePresent()">
            <label for = "number">Number</label>
            <input type = "text" class = "form-control input-sm" id = "number"
                   [(ngModel)] = "model.number" name = "number">
          </div>

          <!--Chapter Conference Journal-->
          <div class = "form-group input-group-sm" *ngIf="isPagesShouldBePresent()">
            <label for = "pages">Pages</label>
            <input type = "text" class = "form-control input-sm" id = "pages"
                   [(ngModel)] = "model.pages" name = "pages">
          </div>

          <!--Under Patent-->
          <div class = "form-group input-group-sm" *ngIf="isNoteShouldBePresent()">
            <label for = "note">Note</label>
            <input type = "text" class = "form-control input-sm" id = "note"
                   [(ngModel)] = "model.note" name = "note">
          </div>

          <!--Under Thesis-->
          <div class = "form-group input-group-sm" *ngIf="isSchoolShouldBePresent()">
            <label for = "school">School</label>
            <input type = "text" class = "form-control input-sm" id = "school"
                   [(ngModel)] = "model.school" name = "school">
          </div>

          <div *ngIf="model.unitType != null">
            <input type="button" class="btn btn-info" value="Save" (click)="saveUnit()">
          </div>

        </form>


      </div>
    </div>
  </div>
</div>


<!--update modal-->
<div bsModal #updateModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Оновити публiкацiю</h4>
        <button type="button" class="close pull-right" (click)="updateModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form>
          <div class = "form-group">
            <label for = "updateType">Science Unit Type:</label>
            <select class = "form-control" id="updateType" name="updateType" [(ngModel)]="model.unitType" (change)="onTypeChange()">
              <option *ngFor="let type of types" [ngValue]="type">{{type}}</option>
            </select>
          </div>

          <!--Common fields for all ScienceUnits-->
          <div *ngIf="model.unitType != null">

            <div class = "form-group input-group-sm">
              <label for = "updateUsers">Bind to Users</label>
              <ng-select type = "text" id = "updateUsers" name = "updateUsers"
                         [options]="options"
                         [multiple]="true"
                         [(ngModel)]="model.users">
              </ng-select>
            </div>

            <div class = "form-group input-group-sm">
              <label for = "updateName">Name</label>
              <input type = "text" class = "form-control input-sm" id = "updateName"
                     [(ngModel)] = "model.name" name = "updateName">
            </div>

            <div class = "form-group input-group-sm">
              <label for = "updateTitle">Title</label>
              <input type = "text" class = "form-control input-sm" id = "updateTitle"
                     [(ngModel)] = "model.title" name = "updateTitle">
            </div>

            <div class = "form-group input-group-sm">
              <label for = "updateYear">Year</label>
              <input type = "text" class = "form-control input-sm" id = "updateYear"
                     [(ngModel)] = "model.year" name = "updateYear">
            </div>

            <div class = "form-group input-group-sm">
              <label for = "updateUrl">Url</label>
              <input type = "text" class = "form-control input-sm" id = "updateUrl"
                     [(ngModel)] = "model.url" name = "updateUrl">
            </div>

            <div class = "form-group input-group-sm">
              <label for = "updateAuthor">Author</label>
              <input type = "text" class = "form-control input-sm" id = "updateAuthor"
                     [(ngModel)] = "model.author" name = "updateAuthor">
            </div>
          </div>

          <!--Present on Chapter and Conference-->
          <div class = "form-group input-group-sm" *ngIf="isBookTitleShouldBePresent()">
            <label for = "updateBookTitle">Book Title</label>
            <input type = "text" class = "form-control input-sm" id = "updateBookTitle"
                   [(ngModel)] = "model.bookTitle" name = "updateBookTitle">
          </div>

          <!--Journal and Other-->
          <div class = "form-group input-group-sm" *ngIf="isJournalShouldBePresent()">
            <label for = "updateJournal">Journal</label>
            <input type = "text" class = "form-control input-sm" id = "updateJournal"
                   [(ngModel)] = "model.journal" name = "updateJournal">
          </div>

          <!--Present on Book and Journal-->
          <div class = "form-group input-group-sm" *ngIf="isPublisherShouldBePresent()">
            <label for = "udaptePublisher">Publisher</label>
            <input type = "text" class = "form-control input-sm" id = "udaptePublisher"
                   [(ngModel)] = "model.publisher" name = "udaptePublisher">
          </div>

          <!--Chapter and Conference field-->
          <div class = "form-group input-group-sm" *ngIf="isOrganizationShouldBePresent()">
            <label for = "updateOrganization">Organization</label>
            <input type = "text" class = "form-control input-sm" id = "updateOrganization"
                   [(ngModel)] = "model.organization" name = "updateOrganization">
          </div>

          <!--Present on every type except Other, Patent and Thesis-->
          <div class = "form-group input-group-sm" *ngIf="isVolumeShouldBePresent()">
            <label for = "updateVolume">Volume</label>
            <input type = "text" class = "form-control input-sm" id = "updateVolume"
                   [(ngModel)] = "model.volume" name = "updateVolume">
          </div>

          <!--Everywhere except Patent, Thesis, Book-->
          <div class = "form-group input-group-sm" *ngIf="isNumberShouldBePresent()">
            <label for = "updateNumber">Number</label>
            <input type = "text" class = "form-control input-sm" id = "updateNumber"
                   [(ngModel)] = "model.number" name = "updateNumber">
          </div>

          <!--Chapter Conference Journal-->
          <div class = "form-group input-group-sm" *ngIf="isPagesShouldBePresent()">
            <label for = "updatePages">Pages</label>
            <input type = "text" class = "form-control input-sm" id = "updatePages"
                   [(ngModel)] = "model.pages" name = "updatePages">
          </div>

          <!--Under Patent-->
          <div class = "form-group input-group-sm" *ngIf="isNoteShouldBePresent()">
            <label for = "updateNote">Note</label>
            <input type = "text" class = "form-control input-sm" id = "updateNote"
                   [(ngModel)] = "model.note" name = "updateNote">
          </div>

          <!--Under Thesis-->
          <div class = "form-group input-group-sm" *ngIf="isSchoolShouldBePresent()">
            <label for = "updateSchool">School</label>
            <input type = "text" class = "form-control input-sm" id = "updateSchool"
                   [(ngModel)] = "model.school" name = "updateSchool">
          </div>

          <div *ngIf="model.unitType != null">
            <input type="button" class="btn btn-info" value="Update" (click)="updateUnit()">
          </div>

        </form>


      </div>
    </div>
  </div>
</div>

<!--delete modal-->
<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Видалити публiкацiю</h4>
        <button type="button" class="close pull-right" (click)="deleteModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form>
          <input type="button" class="btn btn-info" value="Delete" (click)="deleteUnit()">
          <input type="button" class="btn btn-info" value="Ni" (click)="this.deleteModal.hide()">
        </form>

      </div>
    </div>
  </div>
</div>
