<nb-card xmlns="http://www.w3.org/1999/html">
  <nb-card-header>
    Публікації
  </nb-card-header>
  <nb-card-body>
    <!--<div class="row luft">-->
      <!--<div class="col-lg-6">-->
        <!--<div class="input-group">-->
          <!--<input #search class="form-control" placeholder="Пошук..." type="text">-->
          <!--<span class="input-group-btn">-->
              <!--<button class="btn btn-success" (click)="onSearch(search.value)">-->
                <!--Пошук-->
              <!--</button>-->
          <!--</span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <div class="row">
      <div class="col-lg-2 offset-lg-10">
        <input type="button" class="btn btn-success" (click)="callBibtexModal()" value="Добавити Bibtex файл"/>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-12">
        <ng2-smart-table [settings]="settings" [source]="source" (create)="create($event)" (edit)="edit($event)" (delete)="delete($event)"></ng2-smart-table>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<!--insert modal-->
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Добавити нову публiкацiю</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form #addForm="ngForm">

          <div class = "form-group">
            <label for = "type">Science Unit Type:</label>
            <select class = "form-control" id="type" name="type" [(ngModel)]="model.unitType" (change)="onTypeChange()">
              <option *ngFor="let type of types" [ngValue]="type">{{type}}</option>
            </select>
          </div>

          <!--Common fields for all ScienceUnits-->
          <div *ngIf="model.unitType != null">

            <div class = "form-group input-group-sm">
              <label for = "users">Bind to Users</label>
              <ng-select type = "text" id = "users" name = "users" required #users="ngModel"
                [options]="options"
                [multiple]="true"
                [(ngModel)]="model.users">
              </ng-select>
              <small *ngIf="users.errors && (users.dirty || users.touched)" class="form-text error">
                <p>Users binding is required!</p>
              </small>
            </div>

            <div class = "form-group input-group-sm">
              <label for = "name">Name</label>
              <input type = "text" class = "form-control" id = "name"
                     [(ngModel)] = "model.name" name = "name" #name="ngModel" required>
              <small *ngIf="name.errors && (name.dirty || name.touched)" class="form-text error">
                <p>Name field is required!</p>
              </small>
            </div>

            <div class = "form-group input-group-sm">
              <label for = "title">Title</label>
              <input type = "text" class = "form-control" id = "title" required #title="ngModel"
                     [(ngModel)] = "model.title" name = "title">
              <small *ngIf="title.errors && (title.dirty || title.touched)" class="form-text error">
                <p>Title field is required!</p>
              </small>
            </div>

            <div class = "form-group input-group-sm">
              <label for = "year">Year</label>
              <input type = "number" class = "form-control input-sm" id = "year" required #year="ngModel"
                     [(ngModel)] = "model.year" name = "year">
              <small *ngIf="year.errors && (year.dirty || year.touched)" class="form-text error">
                <p>Year field is required!</p>
              </small>
            </div>

            <div class = "form-group input-group-sm">
              <label for = "url">Url</label>
              <input type = "text" class = "form-control input-sm" id = "url" required #url="ngModel"
                     [(ngModel)] = "model.url" name = "url">
              <small *ngIf="url.errors && (url.dirty || url.touched)" class="form-text error">
                <p>URL field is required!</p>
              </small>
            </div>

            <div class = "form-group input-group-sm">
              <label for = "author">Author</label>
              <input type = "text" class = "form-control input-sm" id = "author" required #author="ngModel"
                     [(ngModel)] = "model.author" name = "author">
              <small *ngIf="author.errors && (author.dirty || author.touched)" class="form-text error">
                <p>Author field is required!</p>
              </small>
            </div>

          </div>

          <!--Present on Chapter and Conference-->
          <div class = "form-group input-group-sm" *ngIf="isBookTitleShouldBePresent()">
            <label for = "bookTitle">Book Title</label>
            <input type = "text" class = "form-control input-sm" id = "bookTitle" required #bookTitle="ngModel"
                   [(ngModel)] = "model.bookTitle" name = "bookTitle">
            <small *ngIf="bookTitle.errors && (bookTitle.dirty || bookTitle.touched)" class="form-text error">
              <p>Book Title field is required!</p>
            </small>
          </div>

          <!--Journal and Other-->
          <div class = "form-group input-group-sm" *ngIf="isJournalShouldBePresent()">
            <label for = "journal">Journal</label>
            <input type = "text" class = "form-control input-sm" id = "journal" required #journal="ngModel"
                   [(ngModel)] = "model.journal" name = "journal">
            <small *ngIf="journal.errors && (journal.dirty || journal.touched)" class="form-text error">
              <p>Journal field is required!</p>
            </small>

          </div>
          <!--Present on Book and Journal-->
          <div class = "form-group input-group-sm" *ngIf="isPublisherShouldBePresent()">
            <label for = "publisher">Publisher</label>
            <input type = "text" class = "form-control input-sm" id = "publisher" required #publisher="ngModel"
                   [(ngModel)] = "model.publisher" name = "publisher">
            <small *ngIf="publisher.errors && (publisher.dirty || publisher.touched)" class="form-text error">
              <p>Publisher field is required!</p>
            </small>
          </div>

          <!--Chapter and Conference field-->
          <div class = "form-group input-group-sm" *ngIf="isOrganizationShouldBePresent()">
            <label for = "organization">Organization</label>
            <input type = "text" class = "form-control input-sm" id = "organization" required #organization="ngModel"
                   [(ngModel)] = "model.organization" name = "organization">
            <small *ngIf="organization.errors && (organization.dirty || organization.touched)" class="form-text error">
              <p>Organization field is required!</p>
            </small>
          </div>

          <!--Present on every type except Other, Patent and Thesis-->
          <div class = "form-group input-group-sm" *ngIf="isVolumeShouldBePresent()">
            <label for = "volume">Volume</label>
            <input type = "number" class = "form-control input-sm" id = "volume" required #volume="ngModel"
                   [(ngModel)] = "model.volume" name = "volume">
            <small *ngIf="volume.errors && (volume.dirty || volume.touched)" class="form-text error">
              <p>Volume field is required!</p>
            </small>
          </div>

          <!--Everywhere except Patent, Thesis, Book-->
          <div class = "form-group input-group-sm" *ngIf="isNumberShouldBePresent()">
            <label for = "number">Number</label>
            <input type = "number" class = "form-control input-sm" id = "number" required #number="ngModel"
                   [(ngModel)] = "model.number" name = "number">
            <small *ngIf="number.errors && (number.dirty || number.touched)" class="form-text error">
              <p>Number field is required!</p>
            </small>
          </div>

          <!--Chapter Conference Journal-->
          <div class = "form-group input-group-sm" *ngIf="isPagesShouldBePresent()">
            <label for = "pages">Pages</label>
            <input type = "number" class = "form-control input-sm" id = "pages" required #pages="ngModel"
                   [(ngModel)] = "model.pages" name = "pages">
            <small *ngIf="pages.errors && (pages.dirty || pages.touched)" class="form-text error">
              <p>Pages field is required!</p>
            </small>
          </div>

          <!--Under Patent-->
          <div class = "form-group input-group-sm" *ngIf="isNoteShouldBePresent()">
            <label for = "note">Note</label>
            <input type = "text" class = "form-control input-sm" id = "note" required #note="ngModel"
                   [(ngModel)] = "model.note" name = "note">
            <small *ngIf="note.errors && (note.dirty || note.touched)" class="form-text error">
              <p>Note field is required!</p>
            </small>
          </div>

          <!--Under Thesis-->
          <div class = "form-group input-group-sm" *ngIf="isSchoolShouldBePresent()">
            <label for = "school">School</label>
            <input type = "text" class = "form-control input-sm" id = "school" required #school="ngModel"
                   [(ngModel)] = "model.school" name = "school">
            <small *ngIf="school.errors && (school.dirty || school.touched)" class="form-text error">
              <p>School field is required!</p>
            </small>
          </div>

          <div *ngIf="model.unitType != null">
            <input type="button" class="btn btn-info" value="Save" (click)="saveUnit()" [disabled] ="!addForm.form.valid">
          </div>

        </form>


      </div>
    </div>
  </div>
</div>


<!--update modal-->
<div bsModal #updateModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Оновити публiкацiю</h4>
        <button type="button" class="close pull-right" (click)="updateModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form #updateForm="ngForm">
          <div class = "form-group">
            <label for = "updateType">Science Unit Type:</label>
            <select class = "form-control" id="updateType" name="updateType" [(ngModel)]="model.unitType" (change)="onTypeChange()">
              <option *ngFor="let type of types" [ngValue]="type">{{type}}</option>
            </select>
          </div>

          <!--Common fields for all ScienceUnits-->
          <div *ngIf="model.unitType != null">

            <div class = "form-group input-group-sm">
              <label for = "updateUsers">Bind to Users</label>
              <ng-select type = "text" id = "updateUsers" name = "updateUsers" #updateUsers="ngModel" required
                         [options]="options"
                         [multiple]="true"
                         [(ngModel)]="model.users">
              </ng-select>
              <small *ngIf="updateUsers.errors && (updateUsers.dirty || updateUsers.touched)" class="form-text error">
                <p>Users binding is required!</p>
              </small>
            </div>

            <div class = "form-group input-group-sm">
              <label for = "updateName">Name</label>
              <input type = "text" class = "form-control input-sm" id = "updateName" #updateName="ngModel" required
                     [(ngModel)] = "model.name" name = "updateName">
              <small *ngIf="updateName.errors && (updateName.dirty || updateName.touched)" class="form-text error">
                <p>Name field is required!</p>
              </small>
            </div>

            <div class = "form-group input-group-sm">
              <label for = "updateTitle">Title</label>
              <input type = "text" class = "form-control input-sm" id = "updateTitle" #updateTitle="ngModel" required
                     [(ngModel)] = "model.title" name = "updateTitle">
              <small *ngIf="updateTitle.errors && (updateTitle.dirty || updateTitle.touched)" class="form-text error">
                <p>Title field is required!</p>
              </small>
            </div>

            <div class = "form-group input-group-sm">
              <label for = "updateYear">Year</label>
              <input type = "number" class = "form-control input-sm" id = "updateYear" #updateYear="ngModel" required
                     [(ngModel)] = "model.year" name = "updateYear">
              <small *ngIf="updateYear.errors && (updateYear.dirty || updateYear.touched)" class="form-text error">
                <p>Year field is required!</p>
              </small>
            </div>

            <div class = "form-group input-group-sm">
              <label for = "updateUrl">Url</label>
              <input type = "text" class = "form-control input-sm" id = "updateUrl" #updateUrl="ngModel" required
                     [(ngModel)] = "model.url" name = "updateUrl">
              <small *ngIf="updateUrl.errors && (updateUrl.dirty || updateUrl.touched)" class="form-text error">
                <p>Url field is required!</p>
              </small>
            </div>

            <div class = "form-group input-group-sm">
              <label for = "updateAuthor">Author</label>
              <input type = "text" class = "form-control input-sm" id = "updateAuthor" #updateAuthor="ngModel" required
                     [(ngModel)] = "model.author" name = "updateAuthor">
              <small *ngIf="updateAuthor.errors && (updateAuthor.dirty || updateAuthor.touched)" class="form-text error">
                <p>Users binding is required!</p>
              </small>
            </div>
          </div>

          <!--Present on Chapter and Conference-->
          <div class = "form-group input-group-sm" *ngIf="isBookTitleShouldBePresent()">
            <label for = "updateBookTitle">Book Title</label>
            <input type = "text" class = "form-control input-sm" id = "updateBookTitle" #updateBookTitle="ngModel" required
                   [(ngModel)] = "model.bookTitle" name = "updateBookTitle">
            <small *ngIf="updateBookTitle.errors && (updateBookTitle.dirty || updateBookTitle.touched)" class="form-text error">
              <p>Book Title field is required!</p>
            </small>
          </div>

          <!--Journal and Other-->
          <div class = "form-group input-group-sm" *ngIf="isJournalShouldBePresent()">
            <label for = "updateJournal">Journal</label>
            <input type = "text" class = "form-control input-sm" id = "updateJournal" #updateJournal="ngModel" required
                   [(ngModel)] = "model.journal" name = "updateJournal">
            <small *ngIf="updateJournal.errors && (updateJournal.dirty || updateJournal.touched)" class="form-text error">
              <p>Journal field is required!</p>
            </small>
          </div>

          <!--Present on Book and Journal-->
          <div class = "form-group input-group-sm" *ngIf="isPublisherShouldBePresent()">
            <label for = "updatePublisher">Publisher</label>
            <input type = "text" class = "form-control input-sm" id = "updatePublisher" #updatePublisher="ngModel" required
                   [(ngModel)] = "model.publisher" name = "updatePublisher">
            <small *ngIf="updatePublisher.errors && (updatePublisher.dirty || updatePublisher.touched)" class="form-text error">
              <p>Publisher field is required!</p>
            </small>
          </div>

          <!--Chapter and Conference field-->
          <div class = "form-group input-group-sm" *ngIf="isOrganizationShouldBePresent()">
            <label for = "updateOrganization">Organization</label>
            <input type = "text" class = "form-control input-sm" id = "updateOrganization" #updateOrganization="ngModel" required
                   [(ngModel)] = "model.organization" name = "updateOrganization">
            <small *ngIf="updateOrganization.errors && (updateOrganization.dirty || updateOrganization.touched)" class="form-text error">
              <p>Organization field is required!</p>
            </small>
          </div>

          <!--Present on every type except Other, Patent and Thesis-->
          <div class = "form-group input-group-sm" *ngIf="isVolumeShouldBePresent()">
            <label for = "updateVolume">Volume</label>
            <input type = "number" class = "form-control input-sm" id = "updateVolume" #updateVolume="ngModel" required
                   [(ngModel)] = "model.volume" name = "updateVolume">
            <small *ngIf="updateVolume.errors && (updateVolume.dirty || updateVolume.touched)" class="form-text error">
              <p>Volume field is required!</p>
            </small>
          </div>

          <!--Everywhere except Patent, Thesis, Book-->
          <div class = "form-group input-group-sm" *ngIf="isNumberShouldBePresent()">
            <label for = "updateNumber">Number</label>
            <input type = "number" class = "form-control input-sm" id = "updateNumber" #updateNumber="ngModel" required
                   [(ngModel)] = "model.number" name = "updateNumber">
            <small *ngIf="updateNumber.errors && (updateNumber.dirty || updateNumber.touched)" class="form-text error">
              <p>Number field is required!</p>
            </small>
          </div>

          <!--Chapter Conference Journal-->
          <div class = "form-group input-group-sm" *ngIf="isPagesShouldBePresent()">
            <label for = "updatePages">Pages</label>
            <input type = "number" class = "form-control input-sm" id = "updatePages" #updatePages="ngModel" required
                   [(ngModel)] = "model.pages" name = "updatePages">
            <small *ngIf="updatePages.errors && (updatePages.dirty || updatePages.touched)" class="form-text error">
              <p>Pages field is required!</p>
            </small>
          </div>

          <!--Under Patent-->
          <div class = "form-group input-group-sm" *ngIf="isNoteShouldBePresent()">
            <label for = "updateNote">Note</label>
            <input type = "text" class = "form-control input-sm" id = "updateNote" #updateNote="ngModel" required
                   [(ngModel)] = "model.note" name = "updateNote">
            <small *ngIf="updateNote.errors && (updateNote.dirty || updateNote.touched)" class="form-text error">
              <p>Note field is required!</p>
            </small>
          </div>

          <!--Under Thesis-->
          <div class = "form-group input-group-sm" *ngIf="isSchoolShouldBePresent()">
            <label for = "updateSchool">School</label>
            <input type = "text" class = "form-control input-sm" id = "updateSchool" #updateSchool="ngModel" required
                   [(ngModel)] = "model.school" name = "updateSchool">
            <small *ngIf="updateSchool.errors && (updateSchool.dirty || updateSchool.touched)" class="form-text error">
              <p>School field is required!</p>
            </small>
          </div>

          <div *ngIf="model.unitType != null">
            <input type="button" class="btn btn-info" value="Update" (click)="updateUnit()" [disabled] ="!updateForm.form.valid">
          </div>

        </form>


      </div>
    </div>
  </div>
</div>

<!--delete modal-->
<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Видалити публiкацiю</h4>
        <button type="button" class="close pull-right" (click)="deleteModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form>
          <input type="button" class="btn btn-info" value="Delete" (click)="deleteUnit()">
          <input type="button" class="btn btn-info" value="Ni" (click)="this.deleteModal.hide()">
        </form>

      </div>
    </div>
  </div>
</div>

<!--Bibtex modal-->
<div bsModal #bibtexModal="bs-modal" class="modal fade modal-table" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Добавити публікації через Bibtex</h4>
        <button type="button" class="close pull-right" (click)="bibtexModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <form>
              <div class="form-group">
                <label for="bibtexFileUpload">Upload Bibtex file</label>
                <input type="file" (change)="uploadBibtex($event)" class="form-control-file" id="bibtexFileUpload" accept=".bib">
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ng2-smart-table [settings]="bibtexSettings" [source]="bibtexSource"></ng2-smart-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

